// bootstrap essentials
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// bootstrap extras
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/type';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Quando');

//highlight
@import './highlight.scss';

// font variables
$primary-font: 'Quando', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji', serif;

$secondary-font: 'Noticia Text', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji', serif;

$button-hover-color: #f5f5f5;
$border-color: #dadce0;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $secondary-font;
  font-size: 1.1em;
  line-height: 1.6;
  color: #444;

  h1 {
    color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
  }
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-shadow: 0 0 1px #222;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

.divider {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 1px solid $border-color;
}

.divider.no-margin {
  margin: 0;
}

#blog {
  justify-content: flex-start;

  .tag {
    display: inline-block;
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid $border-color;
  }

  .tag.selected {
    font-weight: bold;
  }
}

.page {
  // max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  section {
    margin-top: 1.8rem;
  }
}

.button {
  color: inherit;
  background-color: $button-hover-color;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: $primary-font;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  color: inherit;
}

.space {
  height: 2rem;
}

footer {
  margin-bottom: 1rem;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  .page {
    section {
      padding: 0;
      margin-top: 2rem;
    }
  }
}
