// bootstrap essentials
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// bootstrap extras
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/utilities';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Quando');

// font variables
$primary-font: 'Quando', serif;
$secondary-font: 'Noticia Text', serif;

$button-hover-color: #f5f5f5;

$border-color: #dadce0;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
}

a:hover {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.divider {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 1px solid $border-color;
}

.divider.no-margin {
  margin: 0;
}
