@import './_base';

#side-nav {
  font-family: $primary-font;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;

  .brand-image {
    width: 8rem;
    height: 8rem;
  }

  .navbar-collapse {
    margin-top: 1rem;
  }

  .nav-link {
    border-radius: .5rem;
    color: $gray-700;
  }

  .nav-link:hover {
    background-color: $button-hover-color;
  }

  .nav-link.active {
    // background-color: $button-hover-color;;
    color: #1967d2;
  }

  #social-icons {
    .social-link {
      display: inline-block;
      border-radius: 50%;
      padding: 0.8rem;
    }

    .social-link:hover {
      background-color: $button-hover-color;
    }

    .social-icon {
      color: $gray-800;
      width: 2rem;
      height: 2rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .root-container {
    padding-left: 17rem;
  }
  #side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    min-height: 100vh;
    width: 17rem;

    .navbar-collapse {
      flex-grow: 0;
      flex-flow: column;
      width: 100%;
    }

    .navbar-brand {
      margin-right: 0;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
    }
  }
}
