@import '_base.scss';

#hero {
  // color: #333;

  .animation-loop {
    height: 2.5rem;
  }

  .arrow-down-link {
    color: inherit;
  }

  .arrow-down {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
  }
}
