@import '_base.scss';

#hero {
  min-height: 100vh;

  .react-reveal {
    display: inline;
    margin-left: 1rem;
  }

  .arrow-down {
    color: #212529;
    width: 3rem;
    height: 3rem;
    margin-top: 3rem;
  }
}
