@import './_base.scss';

.post {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  .post-heading {
    text-align: center;
    margin-bottom: 1rem;

    .post-meta {
      margin: 0.5rem;
      display: inline-block;
    }
  }

  h2,
  h3 {
    margin-top: 2rem;
  }

  hr {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  iframe {
    display: block;
    margin: auto;
  }

  .fb {
    margin-top: 2.5rem;
  }
  .fb-like {
    margin: 1rem 0;
  }
  .fb_iframe_widget_lift {
    width: 100% !important;
  }

  input[type='email'] {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 0.35rem 1rem;
  }
}

@include media-breakpoint-up(lg) {
  .post {
    margin-top: 2rem;
  }
}
