@import './_base.scss';

.skill {
  margin: 3rem 2rem;
}

.skill-group {
  margin-bottom: .8rem;
  line-height: 1.6rem;
}

.skill .skill-icon {
  margin-bottom: 1rem;
  width: 5rem;
  height: 5rem;
  fill: $gray-800;
  stroke: $gray-800;
}